@model MealPlanApplication.Models.MealPlan

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>MealPlan</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FoodsID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FoodsID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Carbohydrates)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Carbohydrates)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Proteins)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Proteins)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fats)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fats)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MealPlanID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
