@model IEnumerable<MealPlanApplication.Models.Food>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MealPlanID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Calories)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Carbohydrate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Protein)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fat)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Breakfast)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Lunch)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Dinner)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Snack)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MealPlanID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Calories)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Carbohydrate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Protein)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fat)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Breakfast)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Lunch)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Dinner)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Snack)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.FoodID }) |
            @Html.ActionLink("Details", "Details", new { id=item.FoodID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.FoodID })
        </td>
    </tr>
}

</table>
